[Unit]
Description=Ddos
After=network.target

[Service]
User=root
WorkingDirectory=/home/tranthanhpho_dev/ddos-vps
ExecStart=/home/tranthanhpho_dev/ddos-vps/venv/bin/python3 /home/tranthanhpho_dev/ddos-vps/main.py
Restart=always

[Install]
WantedBy=multi-user.target
