[Unit]
Description=Ddos
After=network.target

[Service]
User=root
WorkingDirectory=/home/tra
nthanhpho_dev/ddos-vps
ExecStart=/bin/bash -c 'source /home/tra
nthanhpho_dev/ddos-vps/venv/bin/activate && python3 /root/ddos-vps/main.py'
Restart=always

[Install]
WantedBy=multi-user.target
