[Unit]
Description=Run getproxy.py script
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/tranthanhpho_dev/ddos-vps/modules/getproxy.py
WorkingDirectory=/home/tranthanhpho_dev/ddos-vps/modules
Restart=on-failure

[Install]
WantedBy=multi-user.target